{
    "port":"0.0.0.0:3000",
    "log_level":"info",
    "db_network": "tcp",
    "db_addr": "db:5432",
    "db_user": "goapibase",
    "db_password": "goapibase",
    "db_database": "goapibase",
    "redis_addr": "redis:6379",
    "redis_password": "",
    "jwt_secret_access": "randomjwtst1ringsecret",
    "jwt_secret_refresh": "randomjwtstr2ingsecret"
}